
<div class="container float-center">
  <h2 style="font-weight: bolder">{{'impressum.h1' | translate}}</h2>
  <hr/>
  <br/>
  <br/>
  <h3>{{'impressum.h2' | translate}}</h3>
  {{'impressum.p1.0' | translate}}
  <br/>
  {{'impressum.p1.1' | translate}}
  <br/>
  {{'impressum.p1.2' | translate}}
  <br/>
  <br/>
  <br/>

  <h3>{{'impressum.h3' | translate}}</h3>
  {{'impressum.p2' | translate}}
  <br/>
  <br/>
  <br/>


  <h3>{{'impressum.h4' | translate}}</h3>
  {{'impressum.p3.0' | translate}}
  <br/>
  {{'impressum.p3.1' | translate}}
  <br/>
  {{'impressum.p3.2' | translate}}
  <br/>
  {{'impressum.p3.3' | translate}}
  <br/>
  {{'impressum.p3.4' | translate}}<a href="mailto:ub-direktion@fau.de">ub-direktion@fau.de</a>
  <br/>
  <br/>
  <br/>



  <h3>{{'impressum.h5' | translate}}</h3>
  {{'impressum.p4.0' | translate}}
  <br/>
  {{'impressum.p4.1' | translate}}
  <br/>
  <br/>
  <br/>


  <h3>{{'impressum.h6' | translate}}</h3>
  {{'impressum.p5' | translate}}<a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.
  <br />
  {{'impressum.p6' | translate}}
  <br/>
  <br/>
  <br/>


  <h3>{{'impressum.h7' | translate}}</h3>
  {{'impressum.p7' | translate}}
  <br/>
  <br/>
  <br/>
</div>


