<div class="container float-center">
<table class="table table-borderless table-striped tables-sm table-hover">
  <tbody>
    <tr>
      <td>
        <strong>Post:</strong>
        <br/>
      </td>
      <td>
        <address>
          Universitätsbibliothek Erlangen-Nürnberg<br/>
          Universitätsstraße 4<br/>
          91054 Erlangen
        </address>
      </td>
    </tr>
    <tr>
      <td>
        <!-- General questions: -->
          <strong>{{'contact.general' | translate }}</strong>
      </td>
      <td>
        <address >
          Gerlint Straub, Kim Patrick Weiß<br/>
          Tel.: +49 (0)9131 85 29377<br/>
          Fax: +49 (0)9131 85 29309<br/>
          Email: <a href="mailto:ub-opus@fau.de">ub-opus@fau.de</a>
        </address>
      </td>
    </tr>
    <tr>
        <td>
            <!-- Data Protection -->
            <strong>{{'contact.dataprotection' | translate }}</strong>
        </td>
        <td>
          <address >
            Petra Heermann<br/>
            Tel.: +49 (0)9131 85 23920 (Mo+Do)<br/>
            Fax: +49 (0)9131 85 29394 (Di+Mi)<br/>
            Email: <a href="mailto:petra.heermann@fau.de">petra.heermann@fau.de</a>
          </address>
        </td>
      </tr>
      <tr>
        <td>
            <!-- Zweitveroeffentlichung, Open Access -->
            <strong>{{'contact.openaccess' | translate }}</strong>
        </td>
        <td>
          <address >
            Markus Putnings, Dr. Katrin Seyler, Dr. Rainer Plappert<br/>
            Referat Open Access<br/>
            Tel.: +49 (0)9131 85 29316 /  +49 (0)9131 85 27835<br/>
            Fax: +49 (0)9131 85 29309 / +49 (0)9131 85 27843<br/>
            Email: <a href="mailto:ub-open-access@fau.de">ub-open-access@fau.de</a>
          </address>
        </td>
      </tr>
      <tr>
        <td>
            <!-- FAU University PRess -->
            <strong>FAU University Press</strong>
        </td>
        <td>
          <address >
            Markus Putnings, Dr. Christoph Jensen<br/>
            Tel.: +49 (0)9131 85 22155<br/>
            Fax: +49 (0)9131 85 29309<br/>
            Email: <a href="mailto:ub-open-access@fau.de">ub-open-access@fau.de</a>
          </address>
        </td>
      </tr>
  </tbody>
</table>
</div>
