<!--
  <ds-metadata-field-wrapper [label]="label | translate">
    <ng-container *ngFor="let mdValue of mdValues; let last=last;">
      <ng-container *ngTemplateOutlet="(renderMarkdown ? markdown : simple); context: {value: mdValue.value}">
      </ng-container>
      <span class="separator" *ngIf="!last" [innerHTML]="separator"></span>
    </ng-container>
</ds-metadata-field-wrapper>

<ng-template #markdown let-value="value">
  <span class="dont-break-out" [innerHTML]="value | dsMarkdown | async">
  </span>
</ng-template>

<ng-template #simple let-value="value">
  <span class="dont-break-out preserve-line-breaks">{{value}}</span>
</ng-template>
-->

<div *ngFor="let mdValue of mdValues; let last=last;">
  <ds-truncatable-metadata-field-wrapper [label]="label | translate">
    <!-- convert dc.language.iso field into a flag (map en to gb, because en has no flag associated). Display also the text of language, in case no flag supports than language-->
    <span *ngIf="isLanguageField">{{mdValue.value}}</span><span *ngIf="isLanguageField" [class]="'fi fis fi-' + ((mdValue.value == 'en') ? 'gb' : mdValue.value)"></span>
    <!-- if not the language field dc.language.iso, but another field (ex.abstract), display the flag for the language attributed to that metadata field-->
    <span *ngIf="showLanguage && !isLanguageField" [class]="'fi fis fi-' + ((mdValue.language == 'en') ? 'gb' : mdValue.language)"></span>
    <!-- if a normal metadata field, withour markdown, just translate the field (for ex for dc.type) or display as is if no translation available-->
    <span *ngIf="!renderMarkdown && !isLanguageField">{{mdValue.value | translate}}</span> 
    <!-- if markdown enabled (for ex for abstract), process the text via markdown and display it transformed-->
    <span *ngIf="renderMarkdown && !isLanguageField" [innerHTML]="mdValue.value | dsMarkdown | async"></span>
    <!--if it is not the last value for metadata field, put a ',' or other separator-->
    <span class="separator" *ngIf="!last"{{separator}}></span>
  </ds-truncatable-metadata-field-wrapper>
</div>


