
<br/>
<div class="container flaot-center">
  {{'accessibility.p1.0' | translate}}<a href="http://gesetze-bayern.de/Content/Document/BayBGG/true">{{'accessibility.p1.1' | translate}}</a>{{'accessibility.p1.2' | translate}}
  <br/>
  <br/>
  {{'accessibility.p1.3' | translate}}
<br/>

<br/>
  <h3>{{'accessibility.h1' | translate}}</h3>
  <p><strong>{{'accessibility.p2' | translate}}</strong></p>
  {{'accessibility.p3.0' | translate}}
  <br />
  {{'accessibility.p3.1' | translate}}
  <br />
  {{'accessibility.p3.2' | translate}}
<br/>

<br/>
  <h3>{{'accessibility.h2' | translate}}</h3>
  {{'accessibility.p4' | translate}}
<br/>
<br/>

  <h4>{{'accessibility.h3' | translate}}</h4>
  <ul>
    <li>
      {{'accessibility.p5' | translate}}
    </li>
  </ul>

  <h4>{{'accessibility.h4' | translate}}</h4>
  {{'accessibility.p6.0' | translate}}
  <a href="mailto:ub-webmaster@fau.de">
    {{'accessibility.p6.1' | translate}}
  </a>.
  <br/>
  <br/>
  <br/>

  <h3>{{'accessibility.h5' | translate}}</h3>
  {{'accessibility.p7' | translate}}
  <br/>
  <br/>
  <h4>{{'accessibility.h6' | translate}}</h4>
  {{'accessibility.p8' | translate}}
  <br />
  E-Mail:<a href="mailto:ub-webmaster@fau.de">ub-webmaster@fau.de</a>
<br/>
<br/>
  <h3>{{'accessibility.h7' | translate}}</h3>
  {{'accessibility.p9.0' | translate}}
  <br/>
  <br/>
  {{'accessibility.p9.1' | translate}}
  <br/>
  <br/>
  Landesamt für Digitalisierung, Breitband und Vermessung<br />
  St.-Martin-Straße 47<br />
  81541 München<br />
  Telefon: +49 89 2129-1111<br />
  Fax: +49 89 2129-1113<br />
  E-Mail: <a href="mailto:bitv@bayern.de">bitv@bayern.de</a><br />
  Web: <a href="https://www.ldbv.bayern.de/digitalisierung/bitv.html">https://www.ldbv.bayern.de/digitalisierung/bitv.html</a>


</div>

