<div class="background-image-container">  
  <picture class="background-image">
    <!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
    <img alt="" [src]="'../../assets/images/fau_img/Kollegienhaus-cropped.PNG'"/>
    <small class="credits">Photo by ©FAU/Erich Malter</small>
  </picture>
</div>

  <div class="jumbotron">
    <div class="d-flex flex-wrap">
      <div>
        <h1 class="display-3">
          {{"homenews-image-text-title" | translate }}
        </h1>
        <p class="lead">
          {{ "homenews-image-text-p0" | translate }}
        </p>
      </div>
    </div>
    <p>
      {{ "homenews-image-text-p1" | translate }}
    </p>
    <br/>
    <p>
      {{"homenews-image-text-p2" | translate}}
    </p>
  </div>

