<h2>{{ 'info.eula.title' | translate }}</h2>
<p class="text-secondary">({{'info.eula.p1' | translate}})</p>
<br/>
<br/>
<h4>{{ 'info.eula.head1' | translate }}</h4>
<p>{{'info.eula.p2' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head2' | translate }}</h4>
<p>{{'info.eula.p3' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head3' | translate }}</h4>
<p>{{'info.eula.p4' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head4' | translate }}</h4>
<p>{{'info.eula.p5' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head5' | translate }}</h4>
<p>{{'info.eula.p6' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head6' | translate }}</h4>
<p>{{'info.eula.p7' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head7' | translate }}</h4>
<p>{{'info.eula.p8' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head8' | translate }}</h4>
<p>{{'info.eula.p9' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head9' | translate }}</h4>
<p>{{'info.eula.p10' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head10' | translate }}</h4>
<p>{{'info.eula.p11' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head11' | translate }}</h4>
<p>{{'info.eula.p12' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head12' | translate }}</h4>
<p>{{'info.eula.p13' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head13' | translate }}</h4>
<p>{{'info.eula.p14' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head14' | translate }}</h4>
<p>{{'info.eula.p15' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head15' | translate }}</h4>
<p>{{'info.eula.p16' | translate}}</p>
<br/>
<h4>{{ 'info.eula.head16' | translate }}</h4>
<p>{{'info.eula.p17' | translate}}</p>
