<h2>{{ 'info.privacy.head' | translate }}</h2>
<br/>
<h3>
  {{ 'privacy.h1.overview' | translate }}
</h3>

<p>
  {{ 'privacy.overview.p1' | translate  }}
</p>

<p>
  {{ 'privacy.overview.p2' | translate  }}
</p>

<p>
  {{ 'privacy.overview.p3' | translate  }}
</p>

<p>
  {{ 'privacy.overview.p4' | translate  }}
</p>

<p>
  {{ 'privacy.overview.p5' | translate  }}
</p>

<p>
  {{ 'privacy.overview.p6' | translate  }}
</p>

<h3>
  {{ 'privacy.h2.info' | translate }}
</h3>

<p>
  {{ 'privacy.info.p1' | translate  }}
</p>

<p>
  {{ 'privacy.info.p2' | translate  }}<a href="mailto:ub-direktion@fau.de">ub-direktion@fau.de</a>.
</p>

<p>
  {{ 'privacy.info.p3' | translate  }}<a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
</p>

<p>
  {{ 'privacy.info.p4' | translate  }}
</p>

<p>
  {{ 'privacy.info.p5' | translate  }}
</p>

<p>
  {{ 'privacy.info.p6' | translate  }}
</p>

<h3>
  {{ 'privacy.h2.responsible' | translate }}
</h3>

<p>
  {{ 'privacy.responsible.p1' | translate  }}<br/>
  Norbert Gärtner (RD)<br/>
  Schloßplatz 4<br/>
  91054 Erlangen<br/>
  Tel.: +49 9131 85-25860<br/>
  E-Mail: <a href="mailto:norbert.gaertner@fau.de">norbert.gaertner@fau.de</a><br/>
</p>

<p>
  {{ 'privacy.responsible.p2' | translate  }}<br/>
  Petra Heermann (BOR) <br/>
  Universitätsstr. 4 <br/>
  91054 Erlangen<br/>
  Tel.: +49 9131 85-23920 (Mo, Do), 29394 (Di, Mi) <br/>
  Email: <a href="mailto:ub-datenschutz@fau.de">ub-datenschutz@fau.de</a><br/>
</p>


<h3>
  {{ 'privacy.h4.collection' | translate }}
</h3>

<p>
  {{ 'privacy.collection.p1' | translate  }}
</p>

<p>
  {{ 'privacy.collection.p2' | translate  }}
</p>

<p>
  {{ 'privacy.collection.p3' | translate  }}
</p>

<p>
  {{ 'privacy.collection.p4' | translate  }}
</p>

<p>
  {{ 'privacy.collection.p5' | translate  }}
</p>

<h3>
  {{ 'privacy.h5.social' | translate }}
</h3>

<p>
  {{ 'privacy.social.p1' | translate}}
</p>

<h3>
  {{ 'privacy.h6.analyse' | translate}}
</h3>

<p>
  {{ 'privacy.analyse.p1' | translate}}
</p>

<p>
  {{ 'privacy.analyse.p2' | translate}}
</p>

<p>
  {{ 'privacy.analyse.p3' | translate}}
</p>

<p>
  {{ 'privacy.analyse.p4' | translate}}
</p>

<p>
  {{ 'privacy.analyse.p5' | translate}}
</p>

<p>
  {{ 'privacy.analyse.p6' | translate}}
</p>

<p>
  {{ 'privacy.analyse.p7' | translate}}
</p>

<p>
  {{ 'privacy.analyse.p8' | translate}}
</p>

<h3>
  {{ 'privacy.h7.tools' | translate}}
</h3>

<p>
  {{ 'privacy.tools.p1' | translate}}
</p>
