<h1>
  {{ 'info.privacy.h1' | translate }}
</h1>
<h2>
  {{ 'info.privacy.h2' | translate }}
</h2>
<hr/>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h3' | translate }}
</h3>
<p>
  {{ 'info.privacy.p1' | translate }}
</p>
<br/>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h4' | translate }}
</h3>
<h4>
  {{ 'info.privacy.h5' | translate }}
</h4>
<p>
  {{ 'info.privacy.p2' | translate }}
</p>
<h4>
  {{ 'info.privacy.h6' | translate }}
</h4>
<p>
  {{ 'info.privacy.p3' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h70' | translate }}
</h3>
<p>
  {{ 'info.privacy.p70' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h71' | translate }}
</h3>
<p>
  {{ 'info.privacy.p71' | translate }}
</p>


<h3 style="text-decoration: underline">
  {{ 'info.privacy.h7' | translate }}
</h3>
<p>
  {{ 'info.privacy.p4' | translate }}
</p>
<h2>
  {{ 'info.privacy.h8' | translate }}
</h2>
<p>
  {{ 'info.privacy.p5.0' | translate }}
  <br />
  {{ 'info.privacy.p5.1' | translate }}
  <br />
  {{ 'info.privacy.p5.2' | translate }}
</p>
<h2>
  {{ 'info.privacy.h9' | translate }}
</h2>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h10' | translate }}
</h3>
<p>
  {{ 'info.privacy.p6' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h11' | translate }}
</h3>
<p>
  {{ 'info.privacy.p7.0' | translate }}<br />
  {{ 'info.privacy.p7.1' | translate }}<br />
  Universitätsstr. 4<br />
  91054 Erlangen<br />
  Telefon: +49 9131 85-22151<br />
  E-Mail: <a href="mailto:ub-direktion@fau.de">ub-direktion@fau.de</a>
</p>
 <p>
  {{ 'info.privacy.p8' | translate }}
</p>

<h3 style="text-decoration: underline">
  {{ 'info.privacy.h12' | translate }}
</h3>
<p>
  {{ 'info.privacy.p9' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h13' | translate }}
</h3>
<p>
  {{ 'info.privacy.p10' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h14' | translate }}
</h3>
<h4>
  {{ 'info.privacy.h15' | translate }}
</h4>
Norbert Gärtner, RD<br />
Schloßplatz 4<br />
91054 Erlangen<br />
Telefon: +49 9131 85-25860<br />
E-Mail: <a href="mailto:norbert.gaertner@fau.de">norbert.gaertner@fau.de</a>
<br/>
<br/>
<h4>
  {{ 'info.privacy.h16' | translate }}
</h4>
Petra Heermann, BOR<br />
Universitätsstr. 4<br />
91054 Erlangen<br />
Telefon: +49 9131 85-23920 (Mo, Do), 29394 (Di, Mi)<br />
E-Mail: <a href="mailto:ub-datenschutz@fau.de">ub-datenschutz@fau.de</a>

<p>Telefon: +49 9131 85-25860<br />
E-Mail: norbert.gaertner@fau.de</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h17' | translate }}
</h3>
<p>
  {{ 'info.privacy.p11' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h18' | translate }}
</h3>
<p>
  {{ 'info.privacy.p12' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h19' | translate }}
</h3>
<p>
  {{ 'info.privacy.p13' | translate }}
</p>
<p>
  {{ 'info.privacy.p14' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h20' | translate }}
</h3>
<p>
  {{ 'info.privacy.p15' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h21' | translate }}
</h3>
<p>
  {{ 'info.privacy.p16' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h22' | translate }}
</h3>
<p>
  {{ 'info.privacy.p17' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h23' | translate }}
</h3>
<p>
  {{ 'info.privacy.p18' | translate }}
</p>
<ul>
  <li>
    {{ 'info.privacy.p19' | translate }}
  </li>
  <li>
    {{ 'info.privacy.p20' | translate }}
  </li>
  <li>
    {{ 'info.privacy.p21' | translate }}
    </li>
    <li>
      {{ 'info.privacy.p22' | translate }}
    </li>
  </ul>
  <p>
    {{ 'info.privacy.p23' | translate }}
  </p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h24' | translate }}
</h3>
<p>
  {{ 'info.privacy.p24' | translate }}
</p>
<p>
  {{ 'info.privacy.p25' | translate }}
</p>
<h2>
  {{ 'info.privacy.h25' | translate }}
</h2>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h26' | translate }}
</h3>
<p>
  {{ 'info.privacy.p26' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h27' | translate }}
</h3>
<p>
  {{ 'info.privacy.p27' | translate }}
</p>
<ul> <li>
  {{ 'info.privacy.p28' | translate }}
</li> <li>
  {{ 'info.privacy.p29' | translate }}
</li> <li>
  {{ 'info.privacy.p30' | translate }}
</li> <li>
  {{ 'info.privacy.p31' | translate }}
</li> <li>
  {{ 'info.privacy.p32' | translate }}
</li> <li>
  {{ 'info.privacy.p33' | translate }}
</li> </ul>
<p>
  {{ 'info.privacy.p34' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h28' | translate }}
</h3>
<p>
  {{ 'info.privacy.p35' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h29' | translate }}
</h3>
<p>
  {{ 'info.privacy.p36' | translate }}
</p>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h30' | translate }}
</h3>
<p>
  {{ 'info.privacy.p37' | translate }}
</p>
<h2>
  {{ 'info.privacy.h31' | translate }}
</h2>
<h3 style="text-decoration: underline">
  Matomo
</h3>
<p>
  {{ 'info.privacy.p38' | translate }}
</p>
<h4>
  {{ 'info.privacy.h32' | translate }}
</h4>
<p>
  {{ 'info.privacy.p39' | translate }}
</p>
<h4>
  {{ 'info.privacy.h33' | translate }}
</h4>
<p>
  {{ 'info.privacy.p40' | translate }}
</p>
<h4>
  Hosting
</h4>
<p>
  {{ 'info.privacy.p41' | translate }}
</p>
<p>OpenAIRE AMKE Artemidos 6 and Epidavrou<br />
15125, Maroussi, Athens. Greece<br />
tel: + 302106875300, fax: 2106854270<br />
E-Mail: <a href="mailto:gdpr@openaire.eu">gdpr@openaire.eu</a>
<p>
  {{ 'info.privacy.p42' | translate }}
  <a href="https://www.openaire.eu/privacy-policy">https://www.openaire.eu/privacy-policy</a>
</p>
<h2>
  {{ 'info.privacy.h34' | translate }}
</h2>
<h3 style="text-decoration: underline">
  {{ 'info.privacy.h35' | translate }}
</h3>
<p>
  {{ 'info.privacy.p43' | translate }}
  <a href="https://fontawesome.com/privacy" target="_blank" rel="noopener noreferrer">https://fontawesome.com/privacy</a>.
</p>
<h3 style="text-decoration: underline">
  Google reCAPTCHA
</h3>
<p>
  {{ 'info.privacy.p44' | translate }}
  <a href="https://policies.google.com/privacy?hl=de" target="_blank" rel="noopener noreferrer">https://policies.google.com/privacy?hl=de</a> & <a href="https://policies.google.com/terms?hl=de" target="_blank" rel="noopener noreferrer">https://policies.google.com/terms?hl=de</a>.</p>
