<p class="mt-2">{{'item.edit.tabs.status.description' | translate}}</p>
<div class="row">
  <div *ngFor="let statusKey of statusDataKeys" class="w-100">
    <div class="col-3 float-left status-label">
      {{'item.edit.tabs.status.labels.' + statusKey | translate}}:
    </div>
    <div class="col-9 float-left status-data" id="status-{{statusKey}}">
      {{statusData[statusKey]}}
    </div>
  </div>
  

  <!-- <div *ngFor="let identifier of (identifiers$ | async)" class="w-100"> -->
<div *ngFor="let id of ids; let i = index;" class="w-100">
  <div *ngIf="(id.identifierType=='doi')">
      <div class="col-3 float-left status-label">
        <!-- {{identifier.identifierType.toLocaleUpperCase()}}  -->
        DOI:
      </div>
      <div *ngIf="!processing && !editMode" class="col-9 float-left status-label">
        {{id.value}} ({{"item.edit.identifiers.doi.status."+id.identifierStatus|translate}})
        <!-- For items with DOI in state local to_be_reserved/to_be_registered/update_before_registration/pending/minted -->
        <button *ngIf="((id.identifierStatus == 1 || id.identifierStatus == 2 || id.identifierStatus == 7 || id.identifierStatus == 10 || id.identifierStatus == 11) && !editMode)" 
          class="btn btn-sm btn-info ml-2" (click)="onEdit()">Edit DOI</button>
      </div>
      <div *ngIf="editMode" class="col-9 float-left status-label">
          <input type="text" class="w-50" [value]="id.value" #inputDoi/>
          <button class="btn btn-sm btn-success ml-3" (click)="onUpdate(inputDoi, i)" [disabled]="processing">Update</button>
      </div> 
    </div> 
  </div> 
  
  <div class="col-3 float-left status-label">
    {{'item.edit.tabs.status.labels.itemPage' | translate}}:
  </div>
  <div class="col-9 float-left status-data" id="status-itemPage">
    <a [routerLink]="itemPageRoute$ | async">{{itemPageRoute$ | async}}</a>
  </div>

  <div *ngFor="let operation of (operations$ | async)" class="w-100" [ngClass]="{'pt-3': operation}">
    <ds-item-operation *ngIf="operation" [operation]="operation"></ds-item-operation>
  </div>
</div>
