
<footer class="text-lg-start">
  <!-- <div *ngIf="showTopFooter" class="top-footer">   <div >   -->

    <!-- Grid container -->
    <!-- <div class=" container p-4"> -->
    <div class="container-fluid">

      <!--Grid row-->
      <div class="row">

        <div class="col-md-3 mb-3 mb-md-0 mt-md-5">
          <a href="https://www.fau.de/">
            <img src="../../assets/images/fau_img/FAULogoWhite.svg" class="footer-img mt-3" [attr.alt]="'menu.header.image.logo' | translate" />
          </a>
        </div>


	<!--
        <div class="col-md-3 mb-3 mb-md-0 mt-md-5">
        <p class="text-white text-left mt-3">
          Universitätsbibliothek<br/>
          Erlangen-Nürnberg<br/>
          Universitätsstraße 4<br/>
          91054 Erlangen
        </p>
        </div>
	-->
	<div class="col-md-3 mb-3 mb-md-0 mt-md-5">
	</div>

	<div class="col-md-3 mb-3 mb-md-0 mt-md-5">
	<!--
        <div class="col-md-2 mb-3 mb-md-0 offset-2 mt-md-5">
	-->
          <!-- <p class="m-0">
            <a class="text-red" href="http://www.dspace.org/">{{ 'footer.link.dspace' | translate}}</a>
            {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
            <a class="text-white" href="https://www.lyrasis.org/">{{ 'footer.link.lyrasis' | translate}}</a>
          </p> -->
          <!-- <ul class="footer-info list-unstyled small d-flex justify-content-center mb-0"> -->
          <ul class="list-unstyled mb-0 text-left text-justify mt-3">
            <li>
              <a class="text-white" href="javascript:void(0);"(click)="showCookieSettings()">{{ 'footer.link.cookies' | translate}}</a>
            </li>
            <li>
              <a class="text-white" routerLink="info/privacy">{{ 'footer.link.privacy-policy' | translate}}</a>
              <!-- <a class="text-white" href="https://ub.fau.de/datenschutz">{{ 'footer.link.privacy-policy' | translate}}</a> -->
            </li>
            <li>
              <a class="text-white" routerLink="info/end-user-agreement">{{ 'footer.link.end-user-agreement' | translate}}</a>
            </li>
            <li>
              <a class="text-white" routerLink="info/feedback">{{ 'footer.link.feedback' | translate}}</a>
            </li>
          </ul>
        </div>

        <!--Grid column-->
	  <div class="col-md-3 mb-3 mb-md-0 mt-md-5">
	  <!--
          <div class="col-md-2 mb-3 mb-md-0 mt-md-5">
          -->
          <ul class="list-unstyled mb-0 text-left mt-3">
            <li>
              <a class="text-white" routerLink="info/impressum">{{ 'footer.link.impressum' | translate}}</a>
            </li>
            <li>
              <a class="text-white" routerLink="info/accessibility">{{ 'footer.link.accessibility' | translate}}</a>
            </li>
            <li>
              <a class="text-white" href="https://ub.fau.de/">Universitätsbibliothek</a>
            </li>
            <li>
              <a class="text-white" routerLink="info/contact">{{'info.contact' | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
      <!--Grid row-->
    </div>

  <!--   </div>  Grid container -->

</footer>
